@use "helpers/index" as *;

:root {
  --accent: #6c63ff;
  --accent-dark: #5a52d5;
  --just-white: #ffffff;
  --text-main: #2d3436;
  --bg-app: #f0f2f5;
  --danger: #ff5252;

  --font-family-base: "Nunito", sans-serif;

  --container-width: #{rem(1856)};
  --container-padding-x: #{rem(32)};
  --container-padding-y: #{rem(32)};

  --transition-duration: 0.2s;
}
